/* das hier ist für Änderungen an der ganzen Webseite! */
body {
    background-color: #F8EBC7;
}

/* titel Css */
.maintitle {
    text-align: center;
    color: #000000;
}

/* Um das Bild in der Höhe zu verändern tue das hier: */
.entryimage {
    opacity: 90%;
}

.carousel-inner{
    height: 200px;
}

.item, img{
    height: 100% !important;
    width:  100% !important;
}

/* hier ist der Css Code für die Buttons auf der Landingpage */
.buttonlanding {
    padding-top: 5%;
}

.colorbutt {
    background-color: #AB9D78;
    border: 0px;
}

.colorbutt:hover {
    background-color: #C2A97E;
    border: 0px;
}

.our-team{
    padding: 0 20px;
    text-align: center;
    position: relative;
    padding-top: 5%;
    margin-top: 30px;
}

.our-team .title{
    display: inline-block;
    font-size: 19px;
    color: #001d33;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
    text-transform: uppercase;
}
.our-team .post{
    display: inline-block;
    font-size: 12px;
    color: #1c5acc;
    text-transform: uppercase;
}
.our-team .description{
    font-size: 14px;
    color: #777;
    line-height: 27px;
}

